{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block title %}
    {{ site_name }}: {% trans "Login" %} 
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div id="login-wraper">
        <form class="form login-form" action="" method="post">
            {% csrf_token %}
            <legend>{% trans "Sign in to" %} <span class="blue">{% trans "El Bundy Cipőbolt" %}</span>{%trans "-be" %}</legend>
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
                {% comment %} Displaying checkboxes differently {% endcomment %}
                {% if field.name == 'remember_me' %}
                    <p class="footer checkbox inline">
                        <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                    </p>
                {% else %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-success" name="login">{% trans "Login" %}</button>
            <p><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
          {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        </form>
    </div>
</div>
<footer class="white navbar-fixed-bottom">
  {% trans "Don't have an account yet?" %}<a href="/accounts/signup" class="btn btn-black">{% trans "Register" %}</a>
</footer>
{% endblock %}




