{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}
    {{ site_name }}: {% trans "Web office" %} 
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="row-fluid">
        <header>
            <h1 class="span12">"Belépve": {{ actual_user.username }}</h1>
        </header>
        <div class="span12 lead">
            Itt a funkciók vázlata található. Ez gyakorlatilag egy fa. Az al-listák külön oldalon jelennek majd meg, megdizájnolva. Magyarázat: A kattintható linkek az adott helyzetben elérhető funkcionalitást jelentik. A nem kattinthatók azt jelentik, hogy az menüpont a valóságban most nem látszik. A vastag betűvel szedett linkek szimulációk: arra rákattintva helyzeteket hozol létre, mint pl. hibás adatbevitel, stb. Ezek nem léteznek természetesen a valóságban.
            <hr />
        </div>
        <div class="span3">
            <dl>
                <dt><a href="pay_oneoff_fee/">{% trans "Egyszeri díj befizetése" %}</a><dt> 
                <dd><small>Jobb név kellne. | Ha befizette az egyszeri díjat, ez a menüpont majd eltűnik. </small></dd>
                <dt><a href="pay_monthly_fee/">{% trans "Havi díj befizetése" %}</a></dt> 
                <dd><small>Havi díjat ne lehessen előre fizetni, csak az adott hónapban, a jutalékok miatt. Ha a csávó befizette a havi díjat, ez a következő periódus elejéig eltűnik. Ha automatikusan fizeti a díjakat, csak akkor jelenik meg, ha valamiért a díjfizetés az aktuális periódusban nem sikerült, ekkor figyelmeztetést kap a csávó, és ez a menüpont elérhetővé válik.</small></dd>
                <dt><a href="transaction_history/">{% trans "Tranzakcióim története" %}</a></dt>
                <dt><a href="actual_position/">{% trans "Aktuális pozícióm" %}</a></dt>
                <dd><small>Jobb név kellene. Itt fog megjelenni a mátrixa a csávónak.</small></dd>
                <dt><a href="balance/">{% trans "Pénzügyi egyenleg" %}</a></dt>
                <dd><small>Jobb név kellene. Itt lenne a kimutatás, mennyit fizetett be, mennyi jutalékot szedett, kitől. </small></dd>
                <dt><a href="modify_profile/">{% trans "Adataim módosítása" %}</a></dt>
                <dt><a href="logout/">{% trans "Kilépés" %}</a></dt>
            </dl>
        </div>
    </section>
</div>    
{% endblock %}