{{ form }}
{% comment %}
{# {% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head />

    <body>
        <h1>Csengesd a lét!</h1>
        <!-- writes out the form tag automatically -->
        <form action="" method="post">

                     {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% for field in form %}
                            <p>
                                {{ field.errors }}
                                {{ field.name }}{{ field }}
                            </p>
                            {% endfor %}
                             <button type="submit" name="submit">OK</button>
        </form>

</html> #}x 
{% endcomment %}